name: "GitHub Action integration test"

permissions:
  contents: write
  pull-requests: write
  repository-projects: read

on:
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  integration-test:
    name: "Run GitHub Action integration test"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Run in report only mode
        uses: ./
        with:
          push_changes: false
          report_only: true

      - name: Run in update mode
        uses: ./
        with:
          push_changes: false
          report_only: false






